# Copy this to .env and fill in real values
# NEVER commit .env

ALPACA_KEY=PKSI33CHFEMQ5XLHHCWQ2PB256
ALPACA_SECRET=5sCVsUFFK5B7HYvSjJJ94D4vK4fwUmFVruX5HFGbmP4f
ALPACA_PAPER=true

TELEGRAM_TOKEN=8982241374:AAFw3ZLdyPUakL8Qr0dvkOGg6gTeyqdwPCo
TELEGRAM_CHAT_ID=8982241374

# App config
APP_ENV=development
DATABASE_URL=sqlite:///./rsi_bot.db
CORS_ORIGIN=http://localhost:5173
